html {
    scroll-behavior: smooth;
}
canvas {
    width: 100%; /* Display size */
    height: auto; /* Maintain aspect ratio */
    image-rendering: auto; /* Crisper images */
    image-rendering: -webkit-optimize-contrast; /* For webkit-based browsers */
    image-rendering: pixelated; /* Optional, for a pixelated look */
    filter: contrast(110%) brightness(105%); /* Optional, for enhanced sharpness */
}
